flows_raspberrypi.json
[{"type":"tab","id":"77431ff0.783b38","label":"Door sensor flow"},{"id":"3ea22e15.40b27a","type":"ncmbds","z":"77431ff0.783b38","name":"SaveData","appkey":"","clikey":"","classname":"","fieldname":"","x":421.5,"y":231,"wires":[]},{"id":"436e3fc6.087b9","type":"rpi-gpio in","z":"77431ff0.783b38","name":"","pin":"16","intype":"in","read":false,"x":178.5,"y":229.5,"wires":[[]]},{"id":"ddc681f8.f631e","type":"debug","z":"77431ff0.783b38","name":"Debug out put","active":true,"console":"false","complete":"payload","x":437.5,"y":336.5,"wires":[]}]